<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Design</title>
    <link rel="stylesheet" href="../css/footer.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>

    <footer class="footer">
        <div class="footer-content">
            <div class="footer-links">
                <div class="footer-column">
                    <a href="about.html">About us</a>
                    <a href="services.html">Services</a>
                    <a href="gallery.html">Gallery</a>
                    <a href="contact.html">Contact Us</a>
                </div>
                <div class="footer-column">
                    <a href="privacy-policy.html">Privacy Policy</a>
                    <a href="terms-conditions.html">Terms and Conditions</a>
                </div>
                <div class="footer-column">
                    <p><a href="tel:+919449262225">+91 94492 62225</a></p>
                    <p><a href="mailto:ramesh@gaitcorp.in">ramesh@gaitcorp.in</a></p>
                    <div class="social-icons">
                        <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                        <a href="#"><i class="fa-solid fa-envelope"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer-logo">
                <img src="footer-logo.png" alt="Company Logo">
            </div>
        </div>

        <div class="footer-bottom-wrapper">
            <div class="footer-bottom">
                <p>©2025 Gait Engineering Works</p>
                <p>
                    Powered by 
                    <a href="https://devcreationsblr.com" target="_blank">Dev Creations and Solutions</a>
                </p>
            </div>
        </div>
        
    </footer>

</body>
</html>
